
<div class="jumbotron">
	<div class="container-fluid">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>	
		<br>
		<br>
		<br>	
		<br>
		<br>
		<h1>LocalLauncher</h1>
		<br>
		<p>Introducing local businesses that are about to open up around you</p>
	</div>
</div>
